@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-dark-blue);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-pink);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  main{
    display: flex;
    justify-content: center;
  }

  #app {
    width : 80%;
    height: 80%;
  }
}
