@import './base.css';

a {
  text-decoration: none;
  color: var(--color-dark-blue);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-pink);
  }
}

@media (min-width: 1024px) {

  #app {
    width: 100%;
    height: 100vh;
  }

  body {
    display: flex;
    place-items: center;
    width: 100%;
    height: 100vh;
  }

  main{
    display: flex;
    justify-content: center;
    width : 100%;
  }
}
